@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body {
  //overflow-x: hidden;
  font-family: Poppins;
}

a{
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.bg-light{
	background-color: transparent!important;
}

.navbar-brand {

   img {
     width: auto !important;
     height: 6rem !important;
   }
}

.navbar-light .navbar-nav .nav-link{
	color: #000000;
	padding-top: 30px;
}

.top-view {
  min-height: 100vh;
}

.hero {
  min-height: calc(100vh - 25px);
  background-color: #e8e8e8;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    padding: 4em;

    h1 {
      font-weight: 700;
      font-size: 3em;
      span {
        color: #2980B9;
      }
    }

    p{
      font-size: 1.3em;
    }

    a{
      img{
        height: auto;
        width: 4em;
      }

      span{
        margin-left: .5rem;
        color: black;
      }



      &:hover {
        opacity: .5;
        text-decoration: none;
      }

    }
  }
}

.hanger {
  width: 50vw;
  position: absolute;
  bottom: 0;
  background-color: #2980B9;
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;

  h2 {
    margin: auto;
    text-transform: uppercase;
    letter-spacing: .3rem;
  }
}

.cards {
  width: 100%;
  min-height: calc(100vh - 150px);
  padding: 120px 0;

  .container{
    margin: auto;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(23em,1fr));
      grid-column-gap: 1em;
      grid-row-gap: 1em;

      h1 {
        font-weight: 700;
      }

      h6 {
        color: #2980B9;
      }

      .grid-item{

        &:first-child {
          grid-row-end: span 2;

          .img-box {
            &:after{
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              display: block;
              background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
            }
          }
        }

        .inside {
          height: 100%;
          position: relative;
          padding-bottom: 20em;
          overflow: hidden;
        }

        .img-box {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          background-size: cover;
          background-position: bottom;
        }

        .content-box {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          z-index: 1;
          padding: 60px 40px 40px;
          color: #fff;
          }

          &:not(:first-child) {

            .inside {
              padding-bottom: calc(50% - 10px);

              .img-box {
                background-position: left;
              }

              .content-box {
                left: 40%;
                top: -1px;
                background: url(../img/backs/bg-feature-slant.svg) no-repeat left bottom;
                background-size: auto 100%;
                padding: 20px 20px 20px 15%;
                display: flex;
                align-items: center;
              }

            }

          }
        }

      }

    }
  }

.banner {
  position: relative;
  width: 100%;
  background-color: #293243;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;

  .left {
    background-color: #293243;
    padding: 6em 4em;
    width: 65%;
    color: white;

    h6 {
      color: #2980B9;
    }

    &::after {
      content: 'C++';
      max-width: 100%;
      color: white;
      z-index: 0;
      position:absolute;
      font-size: 25rem;
      font-weight: 700;
      top: 0;
      left: 0;
      opacity: .05;
    }

  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: #2980B9;

    &::after {
      content: '';
      width: 40%;
      height: 100%;
      background: inherit;
      position: absolute;
      z-index: 0;
      transform-origin: top right;
      transform: skewX(-20deg);
    }

    img {
      z-index: 1;
      width: 5rem;
      transform: translateX(-50%);
    }

  }
}

.sections {
  //margin-top: 10em;
  padding: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a{
    width: 100%;
  }

  .section {
    width: 100%;
    margin-bottom: 2em;
    padding: 5rem 3rem;
    color: white;

    h6 {
      font-size: 2em;
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }

  #events {
    background: url('../img/backs/20190908_145434.jpg'), linear-gradient(270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;

    h6 {
      margin-left: auto;
    }
  }

  #webinars {
    background: url('../img/backs/DSC_0047.JPG'), linear-gradient(-270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
  }

  #projects {
    background: url('../img/backs/DSC_0234.JPG'), linear-gradient(270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;

    h6 {
      margin-left: auto;
    }
  }

  #team {
    background: url('../img/backs/team.jpg'), linear-gradient(-270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
  }
}

footer{
	text-align: center;
	//background: url("../images/footer-bg.jpg") center center;
  background-color: #293243;
  color: white;
	background-size: cover;
	height: 600px;
	padding-top: 50px;
}

footer>div>h1{
	margin-bottom: 20px;
}

.footer-button{
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight : bold;
	color: #546586!important;
}

.subscribe-btn{
	margin-top: 20px;
	width: 280px;
	color: #293243!important;
}

footer>div>div.row{
	margin-top: 60px;
}

.footer-icon{
	font-size: 2em;
	padding: 5px;
}

footer>div>div>div>a{
	color: black;
}

footer>div>div>div>a:hover{
	color:black;
	opacity: 0.8;
}


@media only screen and (max-width: 992px) {
  .sections {
    padding: 4em;

    .section {
      position: relative;
      background-color: #191919;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: #191919;
        background-blend-mode: luminosity;
        opacity: .7;
        width: 100%;
        height: 100%;
      }


      h6 {
        position: relative;
        left: 0;
        top: 50%;
        z-index: 2;
        width: 100%;
        height: 100%;
        text-align: center;
        writing-mode: horizontal-tb!important;
        text-orientation: mixed!important;
      }
    }

    #events {
      background: url('../img/backs/20190908_145434.jpg');
      background-blend-mode: darken;
      background-size: cover;
      background-position: center;
    }

    #webinars {
      background: url('../img/backs/DSC_0047.JPG');
      background-blend-mode: color;
      background-size: cover;
      background-position: center;
    }

    #projects {
      background: url('../img/backs/DSC_0234.JPG');
      background-blend-mode: color;
      background-size: cover;
      background-position: center;

      h6 {
        margin-left: auto;
      }
    }

    #team {
      background: url('../img/backs/team.jpg');
      background-blend-mode: color;
      background-size: cover;
      background-position: center;
    }

  }
}

@media only screen and (max-width: 578px){
  .banner {

    .left {
      width: 100%;

      &:after {
        font-size: 20rem;
      }
    }

    .right{
      display: none;
    }
  }
}
