<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="<%= loginLink %>">Login with youtube</a>
    
        <% playListItems.forEach(item => { %>
            <div class="col s3">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/<%= item.snippet.resourceId.videoId %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
   <% })%>


  
</body>


</html>