@font-face {
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-family: Poppins;
}


/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {

--bodyColor: #f4f4f4;
--borderFormEls: hsl(0, 0%, 10%);
--bgFormEls: #fff;
--bgFormElsFocus: #fff;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
outline: none;
 font-family: Poppins;
font-size: 100%;
}
body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: visible;
	background: #0E0C0D url('../preloader.gif') no-repeat center center;
	margin: 0;
}
a {
color: inherit;
}

button
{
cursor: pointer;
}


/* Remove native arrow on IE */
select::-ms-expand {
display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
color: transparent !important;
text-shadow: 0 0 0 var(--white);
}

textarea {
resize: none;
}

ul {
list-style: none;
}

body {

background: var(--bodyColor);
color: var(--white);

}


.form {
  max-width: 35em;
  width: 75%;
  position: relative;
}

.form i {
  color: black;
  position: absolute;
  bottom: .7rem;
  left: -1.5em;
}

.fields {
  position: relative;
  margin: 2rem 0;
}

.form input {
  width: 100%;
  height: 3.7em;
  padding-top: .7em;
  border: none;
  background-color: var(--bodyColor);
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.form label::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2a8ed1;
  transform: translateX(-100%);
  transition: transform .3s ease;
}

.form .content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all .3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: .9em;
  color: #2a8ed1;
  
}

.form input:focus + .label-name:after,
.form input:valid + .label-name:after {
  transform: translateX(0%);
}

.form input:focus + .label-name,
.form input:valid + .label-name {
  border-bottom: none;
}

.btn{
  background-color: #293243 !important;
}

button {
width: 15em;
line-height: 1.5;
padding: 15px 10px;
font-weight: bold;
background-color: #293243;
color: #fff !important;
position: relative;
overflow-x: hidden!important;
transition: filter 0.2s;
border: 1px solid var(--borderFormEls);
border-radius: 10px;
}

button > * {
display: inline-block;
width: 100%;
transition: transform 0.4s ease-in-out;
}

button .back {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-110%, -50%);
}

button:enabled:hover .back,
button:focus .back {
transform: translate(-50%, -50%);
}

button:enabled:hover .front,
button:focus .front {
transform: translateX(110%);
}

button:hover{
background-color: #2980B9 !important;
 -webkit-transition: background-color 300ms ease-in-out;
  -ms-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  overflow-x: hidden!important;
}

  /*

input {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
  width: 100%;
}  
.wrap{
border: solid black 1px;  
border-radius: 30px;
height: 100%; width: 50%; 
margin-left: auto; 
margin-right: auto;
margin-top: 80px; 
background-color: #fff; 
box-shadow: 1px 1px 1000px rgba(0,0,0,0.2);
text-align: center;
}

.input-field{
width: 100%;  
}

input:focus +label{
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  transform: translateY(-100%);
  font-size: 12px;
  color: #2980B9!important; 
}  
input:valid +label{
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  transform: translateY(-100%);
  font-size: 12px;
   color: #2980B9!important;
}   



.form-control {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}  

.form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}  


/* Error Messages */
#errorHandler {
  color: red;
}

@media(max-width: 790px){
button{
  width: 80%;
}
.wrap{
  width: 80%;
}
}
@media(max-width: 430px){
.wrap{
  width: 95%;
}
.input-field{
  width: 290px;
}
}