:root {
  --domains-min-width: 18em;
  --project-min-width: 20rem;
  --dom-mob-width: 21rem;
  --sponsors-min-width: 20rem;
}

@font-face {
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-family: Poppins;
}

@font-face {
  font-family: 'PoppinsBlack';
  src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: 'PoppinsBold';
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}


body {
  font-family: Poppins;
  margin: 0;
  background-color: #F4F4F4; 
  overflow-x: hidden;}

 
  /* Loader */
/* #loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 9000000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: white;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }

  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }

  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }

  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }

  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px;
  }
} */ 
/**
*  404 page styles
*/
#square {
  position: absolute;
  width: 408.52px;
  height: 397.93px;
  left: -9em;
  top: -6em;
  border: 17px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-33.05deg);
          transform: rotate(-33.05deg);
}

#circle {
  position: absolute;
  width: 488px;
  height: 493px;
  left: 45px;
  bottom: -17em;
  border-radius: 50%;
  border: 17px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#triangle {
  position: absolute;
  width: 437px;
  height: 437px;
  right: -17em;
  bottom: 4em;
  border: 17px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.errorTop {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 2em;
}

.errorTop img {
  height: 5em;
  width: auto;
}

.errorText {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorText h1 {
  font-family: PoppinsBlack;
  font-size: 15em;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.errorText h3 {
  font-family: PoppinsBold;
  font-size: 6.5em;
  margin: 0;
  padding: 0;
}

.errorText h4 {
  font-family: PoppinsSemiBold;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.errorText h4 a {
  text-transform: uppercase;
  color: #00C2FF;
}

/**
* 404 page styles end
*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h6 {
  color: #2980B9; }

.bg-light {
  background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link{
  color: #000;
   padding-top: 45px;
  padding-right: 20px;
}
.navbar-light .navbar-nav .nav-link.indexnav{
    color: #fff;
   } 

nav>.navbar-brand>img {
  padding-left: 30px;
  height: 6rem;
  width: auto;
}



.top-view {
  min-height: 100vh;
  color: white;
}
.custom-toggler.navbar-toggler {
     border-color: rgba(255,255,255,0.5); 
     
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.hero {
  position: relative;
  min-height: 100vh;
  background-color: #e8e8e8;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .hero #intro {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    min-width: 100%;
    object-fit: cover !important;
    object-position: center !important; }
    .hero #intro source {
      object-fit: cover !important;
      object-position: center !important; }
  .hero #vidOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0; }
  .hero #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    cursor: pointer; }
    .hero #overlay video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 70%;
      height: auto;
      border: 10px solid white; }
      
  .hero .text {
    padding: 4em;
    position: absolute;
    z-index: 0;
    animation: slideTop 1.2s forwards;}
    .hero .text h1 {
      font-weight: 700;
      font-size: 3rem; } 
      .hero .text h1 span {
        color: #2980B9; }
    .hero .text p {
      font-size: 1.3rem; }
    .hero .text a img {
      height: auto;
      width: 4em; }
    .hero .text a span {
      margin-left: .5rem;
      color: white; }
    .hero .text a:hover {
      opacity: .5;
      text-decoration: none; }

#medNav {
  display: none;
}

/**
* "About Us" section starts here
*/
.about {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 4em 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.about .container {
  text-align: center;
}

.about .container h1 {
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding: .5rem;
  margin-bottom: .8em;
}

.about .container h1::after {
  content: '';
  width: 4.5em;
  height: .6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #51BAFF;
}

.about .container p {
  font-size: 1.2rem;
}

.about .container h2 {
  font-weight: 600;
}

.about .container .gallery {
  height: 20em !important;
}

.about .container .gallery-cell {
  width: 20em;
  height: 17em;
  margin-right: 10px;
  background: #8C8;
}

.about .container .gallery-cell .is-selected {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 13px 20px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 13px 20px rgba(135, 135, 135, 0.25);
}

.about .container #med, .about .container #sm {
  display: none;
}

.about .container #web {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(var(--domains-min-width), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--domains-min-width), 1fr));
  grid-gap: 1em;
}

.about .container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .container .flex .domain {
  max-width: 21em;
}

.about .container .flex #d4 {
  margin-right: -160px;
}

.about .container .flex #d5 {
  margin-left: -160px;
}

.about .container .domain {
  background-color: white;
  margin: .6rem;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 10px 20px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 10px 20px rgba(135, 135, 135, 0.25);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  text-overflow: ellipsis;
}

.about .container .domain i {
  font-size: 4em;
}

.about .container .domain h3 {
  margin: 1rem;
  font-weight: 600;
}

.about .container .domain p {
  font-size: 1rem;
  margin-bottom: 0;
}

.about .container .domain:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 13px 20px rgba(135, 135, 135, 0.25);
          box-shadow: 0px 13px 20px rgba(135, 135, 135, 0.25);
}

/**
* "Banner" starts here
*/
.banner {
  color: white;
  position: relative;
  width: 100%;
  background-color: #293243;
  overflow: hidden;
  padding: 2em; }
  .banner:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 63%;
    background: url("../images/backs/bg-light-slant.svg") no-repeat;
    z-index: 1;
    background-size: cover;
    height: 100%; }
  .banner .container {
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto; }
    .banner .container .row {
      display: flex; }
      .banner .container .row .left {
        margin-left: auto;
        margin-right: auto;
        padding: 4em 0; }
        .banner .container .row .left h2 {
          font-size: 3em;
          text-transform: uppercase; }
        .banner .container .row .left p {
          color: #768298; }
        .banner .container .row .left:after {
          content: 'DEVSOC';
          position: absolute;
          font-weight: bolder;
          font-size: 15em;
          left: -5rem;
          bottom: -10rem;
          opacity: 0.03;
          z-index: 0; }
      .banner .container .row .right {
        margin: auto; }
        .banner .container .row .right .countdown {
          display: flex;
          flex-direction: row; }
          .banner .container .row .right .countdown div {
            position: relative;
            background-color: #F1F1F1;
            width: 130px;
            height: 130px;
            line-height: 130px;
            text-align: center;
            color: #000;
            margin: 0 10px;
            font-size: 3em;
            font-weight: 700;
            border-radius: 15px; }
            .banner .container .row .right .countdown div:before {
              content: '';
              position: absolute;
              bottom: -35px;
              left: 0;
              width: 100%;
              height: 35px;
              font-size: 0.5em;
              line-height: 35px;
              font-weight: 300;
              color: white; }
          .banner .container .row .right .countdown #wk:before {
            content: 'Weeks'; }
          .banner .container .row .right .countdown #day:before {
            content: 'Days'; }
          .banner .container .row .right .countdown #hr:before {
            content: 'Hours'; }


/**
* "Latest Projects" starts here
*/

.gt{
  color: #363636;
  padding:0;
}
.projects {
  position: relative;
  width: 100%;
  margin: 5em 0;
  padding: 0;
  min-height: calc(100vh - 4em); }
  .projects .container {
    text-align: center; }
    .projects .container h1 {
      text-transform: uppercase;
      font-weight: 600; 
      position: relative;}
    .projects .container h1::after {
      content: '';
      width: 7.5em;
      height: .5rem;
      position: absolute;
      bottom: -.6rem;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      background-color: #51BAFF;
    }
    .projects .container .tabs {
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center; }
      .projects .container .tabs .tab {
        margin: .5em .2em;
        padding: .3em 2em;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #EAEAEA;
        border: 3px solid #D8D8D8;
        box-sizing: border-box; }
        .projects .container .tabs .tab:hover {
          background-color: #47B6FF;
          border: 3px solid #009AFF;
          color: white; }
      .projects .container .tabs .activep {
        background-color: #47B6FF;
        border: 3px solid #009AFF;
        color: white; }
    .projects .container h6 {
      margin-top: .5rem;
      margin-bottom: 1.1rem; }
     
    .projects .container .showcase {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--project-min-width), 1fr));
      grid-gap: 1em; }
      .projects .container .showcase .project {
        position: relative;
        max-width: 21em;
        width: 100%;
        height: 22.5em;
        background-color: #c4c4c4;
        padding: 2em;
        display: flex;
        align-items: flex-end;
        overflow: hidden; 
        margin-left: auto;
        margin-right: auto;}
        .projects .container .showcase .project .text {
          display: none;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
          padding: 2em; }
          .projects .container .showcase .project .text h3 {
            font-weight: 700;
            color: white;
            text-align: left; }
          .projects .container .showcase .project .text p {
            color: white;
            text-align: left;
            font-size: .9em; }
          .projects .container .showcase .project .text h6 {
            text-align: left;
            font-weight: 700;
            font-size: 1.2em; }
             .projects .container .showcase .project .text a {
             
              color:#51BAFF !important;
              font-weight: 700;
              font-size: .9em; } 
        .projects .container .showcase .project:after {
          content: '';
          background: rgba(0, 0, 0, 0.75);
          top: 100%;
          left: 0;
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          transition: all .2s ease-in; }
         .projects .container .showcase .project:hover:after {
          top: 0; } 
        .projects .container .showcase .project:hover .text {
          display: block;
          
         }

/**
* "Counter" starts here
*/
.counter {
  position: relative;
  margin-bottom: 0em;
  padding: 7em 0;
  background: url("../images/backs/techy.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 73%;
  text-align: center;
  color: white; }
  .counter:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .counter .container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .counter .container div h1 {
      font-weight: 700; }
    .counter .container div h5 {
      background: rgba(189, 189, 189, 0.4);
      padding: .5em 1.3em;
      text-transform: uppercase;
      font-size: 1.7em; }


/**
* Gallery starts from here
*/
.gallery {
  position: relative;
  margin-top:5em;
  margin-bottom: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .container {
  text-align: center;
}

.gallery .container h1 {
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding: .5rem;
  margin-bottom: .8em;
}

.gallery .container h1::after {
  content: '';
  width: 4.5em;
  height: .6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #51BAFF;
}

.gallery .container .carousel {
  position: relative;
}

.gallery .container .carousel:after {
  z-index: -1;
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 25px 40px rgba(0, 0, 0, 0.8);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.8);
  height: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  bottom: 0px;
  border-radius: 100%;
}


.bgimg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 87vh;
  background-repeat: no-repeat;
}

.shade {
  width: 100%;
  height: 87vh;
  clip-path: polygon(55% 0%, 47% 100%, 100% 100%, 100% 0%);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
}

.context {
  text-align: left;
  color: white;
  position: relative;
  padding-top: 14%;
  float: right;
  font-size: 1.4em;
}

.context>h1{
  font-size: 1.8em;
}

.grid-img {
  width: 100%;
}

.heading {
  padding-left: 5px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.col-lg-4 {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-bottom: 20px;
}

/**
* Blogs starts from here
*/
.blogs {
  margin: 4em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blogs .post-date[data-v-6ad3d82e] {
    display: none; }
  .blogs h2[data-v-6ad3d82e] {
    margin: 1rem 2rem 0 2rem;
    color: black;
    font-size: 1.6em;
    font-weight: bolder; }
  .blogs .author[data-v-6ad3d82e] {
    margin: 0 2rem;
    font-size: 1.2em;
    margin-bottom: 4rem; }
  .blogs .excerpt[data-v-6ad3d82e] {
    margin: 0 2em;
    display: none; }
  .blogs .read-more[data-v-6ad3d82e] {
    text-align: right;
    padding: 1em; }
  .blogs #rtb .col-sm-4 {
    padding: 0; }
  .blogs .btn-primary {
    color: #2980B9;
    background-color: transparent;
    border-color: transparent;
    transition: background-color .3s ease;
    font-weight: bold;
    font-size: 1.1em; }
  .blogs #rtb-modal .row, .blogs #rtb .row {
    justify-content: center; }
  .blogs .read-more[data-v-6ad3d82e] {
    width: inherit;
    bottom: 0;
    text-align: left;
    position: absolute;
    padding: 1em 1.2rem; }
  .blogs #rtb-modal .col-sm-4, .blogs #rtb .col-sm-4 {
    max-width: 29% !important; }
  .blogs .rtb-col[data-v-6ad3d82e] {
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    overflow: hidden;
    min-width: 20em;
    margin: 1.2em;
    transition: all .2s ease-in-out; }
    .blogs .rtb-col[data-v-6ad3d82e]:hover {
      box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.1);
      transform: scale(1.05); }
      .blogs .rtb-col[data-v-6ad3d82e]:hover .btn-primary {
        background-color: #c1d7e6; }


/**
* Sponsors starts from here
*/
.sponsors {
  text-align: center;
  padding: 0 5em; }
  .sponsors .special {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 2em 5em 2em;
    max-width: 100%; }
    .sponsors .special img {
      margin: 5px;
      height: 20em; }
  .sponsors h4 {
    font-size: 3.5em;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 -1em }
  .sponsors .grid {
    padding: 5em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(var(--sponsors-min-width), 1fr));
    justify-content: center; }
    .sponsors .grid .grid-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.1em; }
      .sponsors .grid .grid-item img {
        width: 100%;
        max-width: 20em;
        height: auto; }


/*styling for footer*/

footer {
  position: relative;
  background-color: #293243;
  margin-top: 150px;
}

.footer-text{
  text-align: justify;
  color: #fff;
  padding: 10px;
}

.footer-logo{
  margin-bottom: 30px;
  padding-left: 10px;
}

footer>div>h1 {
  margin-bottom: 20px;
}

.footer-list{
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

.footer-list>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer>.container>h1 {
  color: #fff;
}


footer>div>h3 {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}

.footer-img{
  padding-top: 40px;
  width: 200px;
}

.footer-list:nth-child(1){
  width: 70.91px;
}

.footer-hr{
  margin-top: 14px;
  width: 100%;
  border-top: solid 1px #fff;
  overflow: hidden;
}

footer>.container>.container{
  text-align: center;
}

footer>.container>.container>.row>.col-lg-4.col-md-6{
  padding-bottom: 0;
}

footer>.container>.container>.row{
  margin-top: 0;
}

.legend{
  display: flex;
}

.social{
  list-style-type: none;
  display:inline-block;
  padding-left: 0;
}

.social li a{
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 6px;
  border-radius: 100%;
  background-color: #fff;
  color: #293243;
  padding:0;
  text-align: center;
}

.social>li>a:hover, .footer-list>li>a:hover{
  opacity: 0.85;
} 

.social li{
  float: right;
}

.footer-icon {
  margin-top: 7px;
}

.footer-contain>.row{
  margin-left: auto;
  margin-right: auto;
}

.footer-col{
      padding: 0;
      width: 80px;
      margin: 0 auto;
}
/*footer ends here*/
    

@media only screen and (max-width: 1200px) {
  .about .container .domains#med {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(var(--dom-mob-width), 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(var(--dom-mob-width), 1fr));
  }
  .about .container #web, .about .container #sm {
    display: none;
  }

  .projects .container .showcase .project:nth-child(odd) {
    margin-left: auto;
    margin-right: 0;
  }

  .projects .container .showcase .project:nth-child(even) {
    margin-left: 0;
    margin-right: auto;
  }
}
    

@media only screen and (max-width: 991px) {
  body {
    overflow-x: hidden; }

  .navbar-nav {
    justify-content: center;
    align-items:flex-end;
  } 

  .navbar-collapse {
    z-index: 100;
    background-color: #F4F4F4;
   
     }
     .navbar-light .navbar-nav .nav-link.indexnav{
    color: #000;
  
   }
   .navbar-light .navbar-nav .nav-link {
    color: #000;
    padding-top: 10px;
   
   }
   .bgimg {
    position: relative;
    height: 100vh;
  }

  .bgimg h1{
    margin-top: 10vh;
  }
   
  .shade {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 100vh;
  }


  .hero {
    min-height: 100vh;
    overflow-y: visible; }

    .hero::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hero {
  -ms-overflow-style: none;
}

#webNav {
  display: none;
}
#medNav {
  display: block !important;
}
.nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}
.nav .medLogo {
  padding-left: 1em;
}
.nav .medLogo img {
  height: 3.5em;
  width: auto;
}
.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
}
.nav__toggle:hover, .hero .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  position: relative;
  z-index: 5;
  padding: 0;
  visibility: hidden;
}
.nav__item {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}
.nav__item:nth-child(1) {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
.nav__item:nth-child(2) {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}
.nav__item:nth-child(3) {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}
.nav__item:nth-child(4) {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
}
.nav__item:nth-child(5) {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}
.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
  outline: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.menuicon__bar {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}
.menuicon__circle {
  -webkit-transition: stroke-dashoffset .3s linear .1s;
  transition: stroke-dashoffset .3s linear .1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}
.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}
.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color:#2980B9;
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06), -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}
.nav:target > .splash::after,
.nav--open > .splash::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}
.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

  .about .container p {
    font-size: 1.2em;
  }
  .about .container .domains .domain h3 {
    font-size: 1em;
  }
  .about .container .domains .domain p {
    font-size: 1em;
  }

  .banner .left {
    padding-bottom: 2em !important; }
  .banner .right {
    padding-top: 0 !important; }

  .blogs {
    margin-left: 1em;
    margin-right: 1em; }
    .blogs .container {
      margin-left: 0;
      margin-right: 0; }
   /* .projects .container .showcase .project:after {
    top: 0 ; }  
    .projects .container .showcase .project .text {
    display: block; }  */

  .counter {
    padding: 3em 0; }
    .counter .container {
      flex-direction: column; }
      .counter .container div {
        margin-bottom: 3em;
        background: rgba(189, 189, 189, 0.5);
        padding: 2em 2em 1em 2em;
        width: 100%; }
        .counter .container div h5 {
          background: none; }
        .counter .container div:last-child {
          margin-bottom: 0; } 
  
  .showcase .project {
    margin-left: auto !important;
    margin-right: auto !important;
  }
        
  }


@media only screen and (max-width: 578px) {
  
  
  .container {
    padding: 2em; }

    footer>.container>.container{
      padding-bottom: 0;
      margin-bottom: 0;
    }
    footer>.container{
      padding-bottom: 0;
    }

  .banner .left {
    width: 100%; }
    .banner .left:after {
      font-size: 20rem; }
  .banner .right {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important; } }

/*Modals for events page*/

.modal-content{
  width: 700px;
  height: 500px;
  padding: 20px;
}


/**
* Media for Smaller devices like iPhone SE,3,4,4s
*/
@media only screen and (max-width: 430px) {
  :root {
    --project-min-width: 12rem;
    --dom-mob-width: 13rem;
    --sponsors-min-width: 15rem;
  }

  /**
  *   404 page css
  */
  #square {
    top: -7em;
    left: -20em;
  }
  #triangle {
    right: -23em;
  }

  .errorTop {
    width: 100%;
    padding: 2em 0 0 0;
    justify-content: center !important;
  }

  div.errorText h1 {
    font-size: 10em !important;
  }
  div.errorText h3 {
    font-size: 4em !important;
    line-height: 1.2em;
  }
  div.errorText h4 {
    font-size: 2em !important;
  }

  .container {
    padding: 1em; }
  footer>.container {
    padding-bottom:0;
  }
  footer>.container>.container{
    padding-bottom: 0;
  }
  .social{
    padding-left: -20px;
  }

  .project-context{
    padding-top: 0;
  }
   

  .top-view .hero .text h1 {
    font-size: 2.5em; }
  .top-view .hero .text p {
    font-size: 1em; }
  .top-view .hero .text a {
    font-size: .8em; }

  .banner {
    text-align: center; }
    .banner .right .countdown {
      flex-direction: column !important;
      align-items: center; }
      .banner .right .countdown div:not(:last-child) {
        margin-bottom: 1em !important; }

      .projects .container {
        padding: 2em; } }

@media only screen and (max-width: 350px) {
  :root {
    --domains-min-width: 12em;
  }
    /**
  *   404 page css
  */
  #square, #triangle, #circle {
    display: none;
  }
  div.errorText h1 {
    font-size: 7em !important;
  }
  div.errorText h3 {
    font-size: 3em !important;
  }
  div.errorText h4 {
    font-size: 2em !important;
    margin-top: 1em !important;
  }

  .projects .tabs {
    flex-direction: column; }
    .projects .tabs .tab {
      width: 100%;
      padding: .8em 0 !important; }
  .projects .showcase .project .text {
    padding: 1.2em !important; } 
  }


@media(max-width: 768px) {

  /**
  *   404 page css
  */
  #circle {
    left: -10em;
  }
  div.errorText h1 {
    font-size: 12em;
  }
  div.errorText h3 {
    font-size: 5em;
    line-height: 1.2em;
  }
  div.errorText h4 {
    font-size: 2em;
  }
 

  .context {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    font-size: 1.4em;
    float: none;
  }

  .context>h1{
    font-size: 1.8em;
  }

  .about {
    margin: 3em 0;
    overflow: visible;
  }
  .about .container .domains#web, .about .container .domains#med {
    display: none;
  }
  .about .container #sm {
    display: block;
  }
  .about .container p {
    font-size: 1.1em;
    text-align: justify;
  }
  .about .container .domains {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2em;
  }
  .about .container .domains .domain {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .about .container .domains .domain h3 {
    font-size: 1em;
  }
  .about .container .domains .domain p {
    font-size: 1em;
    text-align: center;
  }

  .footer-list:nth-child(1){
    margin-top: 0;
  }
 
  .container.footer-contain{
    padding:0;
    margin-top:0;
  }
  .footer-list{
    display: block;
    padding:0;
    padding-bottom: 0;
  }

  #intro{
    display: none;
  }

  .top-view .hero {
    background-color: #234982;
  }
  .top-view .hero #intro, .top-view .hero #vidOverlay {
    display: none;
  }

  .banner:before {
    content: '';
    display: none; }
  .banner .right {
    padding: 4em 0; } 

    .about {
      margin: 3em 0;
      overflow: visible;
    }
    .about .container p {
      font-size: 1.2em;
      text-align: justify;
    }
    .about .container .domains {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 2em;
    }
    .about .container .domains .domain h3 {
      font-size: 1em;
    }
    .about .container .domains .domain p {
      font-size: 1em;
      text-align: center;
    }

}


@media(min-aspect-ratio: 16/9) {
  #intro {
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio: 16/9) {
  #intro {
    width: auto;
    height: 100%;
  }
}

/*toastr modifications*/

#toast-container > .toast-info {            
  background-color: rgb(41, 50, 67);
  background-image: none!important;
}

#toast-container>div{
  padding: 15px;
  padding-left: 90px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  -moz-box-shadow: 0 0 2px #999999;
  -webkit-box-shadow: 0 0 2px #999999;
  box-shadow: 0 0 2px #999999;
} 

.toast-top-center { 
    top: 12px; 
    left: 50%; 
    margin-left: -150px;
} 
@media all and (min-width: 321px) and (max-width: 480px) { 
    .toast-top-center { 
        padding-right: 105px; 
        padding-top: 80%;
    } 
}
@media all and (min-width: 481px) and (max-width: 576px){
  .toast-top-center {
    padding-right: 150px;
    padding-top: 80%;
  }
}


@keyframes slideTop {
  
  from{
    opacity: 0;
    transform: translateY(100%);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}