@font-face {
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-family: Poppins;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  padding-top: 45px;
  padding-right: 20px;
}

nav>.navbar-brand>img {
  padding-left: 30px;
  margin-top: -5%;
  height: 6rem;
  width: auto;
}

.top-view {
  min-height: 100vh;
}

.hero {
  min-height: calc(100vh - 25px);
  background-color: #e8e8e8;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero .text {
    padding: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .hero .text h1 {
      font-weight: 700;
      font-size: 4em; }
      .hero .text h1 span {
        color: #2980B9;
        display: none; }
    .hero .text p {
      font-size: 1.3em; }
    .hero .text a img {
      height: auto;
      width: 4em; }
    .hero .text a span {
      margin-left: .5rem;
      color: black; }
    .hero .text a:hover {
      opacity: .5;
      text-decoration: none; }

.hanger {
  width: 50vw;
  position: absolute;
  bottom: 0;
  background-color: #2980B9;
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center; }
  .hanger h2 {
    margin: auto;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: letter-spacing .2s ease-in-out; }
  .hanger:hover h2 {
    letter-spacing: .31em; }

		.cards {
		  width: 100%;
		  min-height: calc(100vh - 150px);
		  padding: 120px 0; }
		  .cards .container {
		    margin: auto; }
		    .cards .container .grid {
		      display: grid;
		      grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
		      grid-column-gap: 1em;
		      grid-row-gap: 1em; }
		      .cards .container .grid h1 {
		        font-weight: 700; }
		      .cards .container .grid h6 {
		        color: #2980B9; }
		      .cards .container .grid a.grid-item .img-box {
		        transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1); }
		      .cards .container .grid a.grid-item:hover .img-box {
		        transform: scale(1.1, 1.1); }
		      .cards .container .grid .grid-item:first-child {
		        grid-row-end: span 2; }
		        .cards .container .grid .grid-item:first-child .img-box:after {
		          content: '';
		          position: absolute;
		          left: 0;
		          top: 0;
		          right: 0;
		          bottom: 0;
		          display: block;
		          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 80%); }
		      .cards .container .grid .grid-item .inside {
		        height: 100%;
		        position: relative;
		        padding-bottom: 20em;
		        overflow: hidden; }
		      .cards .container .grid .grid-item .img-box {
		        position: absolute;
		        left: 0;
		        top: 0;
		        right: 0;
		        bottom: 0;
		        width: auto;
		        height: auto;
		        background-size: cover;
		        background-position: bottom; }
		      .cards .container .grid .grid-item .content-box {
		        position: absolute;
		        left: 0;
		        right: 0;
		        bottom: -1px;
		        z-index: 1;
		        padding: 60px 40px 40px;
		        color: #fff; }
		      .cards .container .grid .grid-item:not(:first-child) .inside {
		        padding-bottom: calc(50% - 10px); }
		        .cards .container .grid .grid-item:not(:first-child) .inside .img-box {
		          background-position: left; }
		        .cards .container .grid .grid-item:not(:first-child) .inside .content-box {
		          left: 40%;
		          top: -1px;
		          background: url('../images/backs/bg-feature-slant.svg') no-repeat left bottom;
		          background-size: auto 100%;
		          padding: 20px 20px 20px 15%;
		          display: flex;
		          align-items: center; }

.banner {
  position: relative;
  width: 100%;
  background-color: #293243;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.banner .left {
  background-color: #293243;
  padding: 6em 4em;
  width: 65%;
  color: white;
}

.banner .left h6 {
  color: #2980B9;
}

.banner .left::after {
  content: 'C++';
  max-width: 100%;
  color: white;
  z-index: 0;
  position: absolute;
  font-size: 25rem;
  font-weight: 700;
  top: 0;
  left: 0;
  opacity: .05;
}

.banner .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  background-color: #2980B9;
}

.banner .right::after {
  content: '';
  width: 40%;
  height: 100%;
  background: inherit;
  position: absolute;
  z-index: 0;
  transform-origin: top right;
  transform: skewX(-20deg);
}

.banner .right img {
  z-index: 1;
  width: 5rem;
  transform: translateX(-50%);
}

.sections {
  padding: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sections a {
    width: 100%;
    margin-bottom: 2em; }
  .sections .section {
    width: 100%;
    margin-bottom: 2em;
    padding: 5rem 3rem;
    color: white;
    position: relative;
    display: flex; }
    .sections .section h6 {
      font-size: 2em;
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      text-orientation: upright; }
  .sections #events {
    background: url("../images/backs/event-main.webp"), linear-gradient(270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    justify-content: flex-end; }
  .sections #webinars {
    background: url("../images/backs/projects-cover.webp"), linear-gradient(-270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center; }
  .sections #projects {
    background: url("../images/backs/DSC_0234.webp"), linear-gradient(270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    justify-content: flex-end; }
  .sections #team {
    background: url("../images/backs/team.webp"), linear-gradient(-270deg, rgba(0, 0, 0, 0.6) 15.9%, rgba(0, 0, 0, 0.5) 26.06%, rgba(0, 0, 0, 0) 50%);
    background-blend-mode: color;
    background-size: cover;
    background-position: center; }

.bgimg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 660px;
  background-repeat: no-repeat;
}

.shade {
  width: 100%;
  height: 660px;
  clip-path: polygon(58% 0%, 50% 100%, 100% 100%, 100% 0%);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
}

.context {
  text-align: left;
  color: white;
  position: relative;
  padding-top: 14%;
  float: right;
}

.grid-img {
  width: 100%;
}

.heading {
  padding-left: 5px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.col-lg-4 {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-bottom: 20px;
}

/**
* Blogs starts from here
*/
.blogs {
  margin: 4em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blogs .post-date[data-v-6ad3d82e] {
    display: none; }
  .blogs h2[data-v-6ad3d82e] {
    margin: 1rem 2rem 0 2rem;
    color: black;
    font-size: 1.6em;
    font-weight: bolder; }
  .blogs .author[data-v-6ad3d82e] {
    margin: 0 2rem;
    font-size: 1.2em; }
  .blogs .excerpt[data-v-6ad3d82e] {
    margin: 0 2em;
    display: none; }
  .blogs .read-more[data-v-6ad3d82e] {
    text-align: right;
    padding: 1em; }
  .blogs #rtb .col-sm-4 {
    padding: 0; }
  .blogs .btn-primary {
    color: #2980B9;
    background-color: transparent;
    border-color: transparent;
    transition: background-color .3s ease;
    font-weight: bold;
    font-size: 1.1em; }
  .blogs #rtb-modal .row, .blogs #rtb .row {
    justify-content: center; }
  .blogs .read-more[data-v-6ad3d82e] {
    text-align: left;
    padding: 1em; }
  .blogs #rtb-modal .col-sm-4, .blogs #rtb .col-sm-4 {
    max-width: 29% !important; }
  .blogs .rtb-col[data-v-6ad3d82e] {
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    overflow: hidden;
    min-width: 20em;
    margin: 1.2em;
    transition: all .2s ease-in-out; }
    .blogs .rtb-col[data-v-6ad3d82e]:hover {
      box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.1);
      transform: scale(1.05); }
      .blogs .rtb-col[data-v-6ad3d82e]:hover .btn-primary {
        background-color: #c1d7e6; }


/**
* Sponsors starts from here
*/
.sponsors {
  text-align: center; }
  .sponsors .special {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 2em 5em 2em;
    max-width: 100%; }
    .sponsors .special img {
      margin: 5px;
      height: 20em; }
  .sponsors h4 {
    font-size: 3.5em;
    font-weight: bolder;
    text-transform: uppercase; }
  .sponsors .grid {
    padding: 5em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: center; }
    .sponsors .grid .grid-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.1em; }
      .sponsors .grid .grid-item img {
        height: 6em; }


footer {
  position: relative;
  text-align: center;
  background: url("../images/logo1.png") center center;
  background-size: cover;
  height: 700px;
  background-color: #293243;
  margin-top: 150px;
  padding-top: 60px;
}

footer>div>h1 {
  margin-bottom: 20px;
}

.footer-button {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #546586 !important;
}

.subscribe-btn {
  margin-top: 20px;
  width: 280px;
  color: #293243 !important;
}

footer>.container>h1 {
  color: #fff;
}

footer>div>div>div>h3 {
  color: #546586;
}

footer>div>div.row {
  margin-top: 60px;
}

.footer-icon {
  font-size: 2em;
  padding: 5px;
  color: #FFF;
}

footer>div>div>div>a {
  color: black;
}

footer>div>div>div>a:hover {
  color: black;
  opacity: 0.8;
}

@media only screen and (max-width: 991px) {
  body {
    overflow-x: hidden; }

  .navbar-nav {
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1); }
    .navbar-nav li {
      padding: 1.2em; }

  .navbar-collapse {
    z-index: 100;
    background-color: white; }

  .hero {
    min-height: 100vh; }

  .hanger {
    display: none; }

  .cards a.grid-item:first-child {
    height: 550px; }
  .cards a.grid-item:not(:first-child) h2 {
    font-size: 1.1rem; }

  .sections {
    padding: 4em; }
    .sections .section {
      position: relative;
      background-color: #191919; }
      .sections .section::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: #191919;
        background-blend-mode: luminosity;
        opacity: .7;
        width: 100%;
        height: 100%; }
      .sections .section h6 {
        position: relative;
        left: 0;
        top: 50%;
        z-index: 2;
        width: 100%;
        height: 100%;
        text-align: center;
        writing-mode: horizontal-tb !important;
        text-orientation: mixed !important; }
    .sections #events {
      background: url("../images/backs/event-main.webp");
      background-blend-mode: darken;
      background-size: cover;
      background-position: center; }
    .sections #webinars {
      background: url("../images/backs/projects-cover.webp");
      background-blend-mode: color;
      background-size: cover;
      background-position: center; }
    .sections #projects {
      background: url("../images/backs/DSC_0234.webp");
      background-blend-mode: color;
      background-size: cover;
      background-position: center; }
      .sections #projects h6 {
        margin-left: auto; }
    .sections #team {
      background: url("../images/backs/team.webp");
      background-blend-mode: color;
      background-size: cover;
      background-position: center; }

  .blogs {
    margin-left: 1em;
    margin-right: 1em; }
    .blogs .container {
      margin-left: 0;
      margin-right: 0; } }

@media only screen and (max-width: 578px) {
  .banner .left {
    width: 100%;
  }

  .banner .left:after {
    font-size: 20rem;
  }

  .banner .right {
    display: none;
  }
}

@media(max-width: 768px) {
  .bgimg {
    position: relative;
  }

  .context {
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    position: absolute;
    font-size: 1.75em;
    float: none;
  }

  .shade {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
