@font-face{
	src: url('../fonts/Poppins/Poppins-Regular.ttf');
	font-family: Poppins;
}
html{
	margin-bottom: 0;
	overflow: scroll;
}
body{
	font-family: Poppins;
	font-size: 1.2em;
}
.bg-light{
	background-color: transparent!important;
}
.navbar-light .navbar-nav .nav-link{
	color: #000000;
	padding-top: 45px;
	padding-right: 20px;
}
nav>.navbar-brand>img{
	padding-left: 30px;
	margin-top:-5%;
}
.bgimg{
     background: url('../images/team-cover.jpeg');
    background-size:cover;
    width:100%;
    height:660px; 
    background-repeat:no-repeat; 
}
.shade {
     width: 100%;
    height: 660px; 
    clip-path:polygon(58% 0%,50% 100%,100% 100%,100% 0%);
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
}
.context{
      text-align:left;
      color:white;
      position: relative;
      padding-top:14%;
      float:right;
      font-size: 1.4em;
}
@media(max-width: 768px){
	.bgimg{
    	position: relative;
    	height: 400px;
    }
    .context{
      text-align: center;
      position: relative;
      padding-right: 5%;
      font-size: 1.5em;
      margin-top: -7%;
      min-width: 300px;
    }
    .shade{
    	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    	height: 400px;
    }
}
@media (max-width: 576px) {  
  .xs {color:red;font-weight:bold;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  .sm {color:red;font-weight:bold;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
 .md {color:red;font-weight:bold;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
 .lg {color:red;font-weight:bold;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
}
.card-img-top{
	width: 270px;
	height: 270px;
	border-radius : 50%;
} 
.card{
  border: transparent;
  margin-bottom: 60px;
}
.card-title{
	margin-top: 20px;
	font-weight: bold;
	font-size: 1.5em;
}
.row{
	margin-top: 150px;
	margin-bottom: 150px;
}
/*.grid-img{
	width: 100%;
}
.heading{
	padding-left: 5px;
	padding-top: 70px;
	padding-bottom: 50px;
}*/
.col-lg-4{
	width: 100%;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

footer{
	position: relative;
	text-align: center;
	/*background: url("../images/logo1.png") center center;*/
	background-size: cover;
	background-color: #293243;
	height: 900px;
}

footer>div>h1{
	margin-bottom: 20px;
}
footer>.container{
	padding-top: 60px;
}
.footer-button{
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight : bold;
	color: #546586!important;
}
.subscribe-btn{
	margin-top: 20px;
	width: 280px;
	color: #293243!important;
}
footer>.container>h1{
	color: #fff;
}
footer>div>div>div>h3{
	color: #546586;
}
footer>div>div.row{
	margin-top: 80px;
}
.footer-icon{
	font-size: 2em;
	padding: 5px;
	color: #FFF;
}
footer>div>div>div>a{
	color: black;
}

footer>div>div>div>a:hover{
	color:black;
	opacity: 0.8;
}