@font-face{
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-family: Poppins;
}

html{
  margin-bottom: 0;
  overflow-x: hidden;
}

body{
  font-family: Poppins;
  background-color: #F4F4F4;
  
}

.bg-light{
  background-color: transparent!important;
}

.navbar-light .navbar-nav .nav-link{
  color: #000000;
  padding-top: 45px;
  margin-right: 10px;
}

nav>.navbar-brand>img{
  padding-left: 30px;
  
  height: 6rem;
  width: auto;
}

.bgimg{
     background: url('../images/team-cover.jpeg');
    background-size:cover;
    width:100%;
    height:87vh;
    background-repeat:no-repeat;
}

.shade {
     width: 100%;
    height: 87vh;
    clip-path:polygon(55% 0%,47% 100%,100% 100%,100% 0%);
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.context{
      text-align:left;
      color:white;
      position: relative;
      padding-top:14%;
      float:right;
      font-size: 1.4em;
}

.context>h1{
  font-size: 1.8em;
}

@media(max-width: 1200px)
{
  .card-body .text{
    width: 300px;
    margin-right: 50px;
  }
}
@media(max-width: 991px)
{
  .card-body .text{
    width: 100%;
    margin-right: 0;
  }

  .navbar-nav {
    justify-content: center;
    align-items:flex-end;
  } 

  .navbar-collapse {
    z-index: 100;
    background-color: #F4F4F4;
     }
     .navbar-light .navbar-nav .nav-link.indexnav{
    color: #000;
  
   }
   .navbar-light .navbar-nav .nav-link {
    color: #000;
    padding-top: 10px;
   
   }
   
.card-body:after{
	content: '';
	background: rgba(0, 154, 255, 0.65);
	top: 100%;
	left: 0;
  position: absolute;
	z-index: 2;
	width: 100%;
  height: 100%;
	transition: all .2s ease-in;
}

.card-body:hover:after{
  top:0;
}

.card-body:hover .text{
  display:block;
}
  /* .navbar-nav {
    justify-content: center;
    align-items: flex-start; }
    .navbar-nav li {
      padding: 1.2em; }

  .navbar-collapse {
    z-index: 100;
    background-color: white;
     } */
}
@media(max-width: 768px){
  .bgimg {
    position: relative;
    height: 87vh;
  }
  .context {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    font-size: 1.4em;
    float: none;
  }
  .shade {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 87vh;
  }
   .context>h1{
    font-size: 1.8em;
  }
 
  .footer-list:nth-child(1){
    margin-top: 0;}
 
  .footer-list{
    display: block;
    padding:0;
    padding-bottom: 0;
  }
  
}


.text{
  margin-top: 10px;
  text-align: center;
  display: none;
  position: relative;
  z-index: 3;
  color: #fff;
}

.text>h1{
  font-weight: bolder;
  font-size: 25px;
  text-transform: uppercase;
}

.text>h5{
  font-weight: 600;
  font-size: 20px;
}

.text>p{
  padding: 7px;
}

.fb{
  color: #2980B9;
  padding : 0;
}

.gt{
  color: #363636;
  padding:0;
}

.in{
  color:#FF007A;
  padding:0;
}

.ln{
  color:#0075B3;
  padding:0;
}

.text>a>span>.fab{
  color: #fff;
}

.text>a>span>.fab:hover{
  color: #fff;
}

/*adding background image to cards*/

.c1{
   background: url('../images/team/kunal1.jpg');
}
.c2{
   background: url('../images/team/rajat1.jpg') center center;
}
.c3{
   background: url('../images/team/akshat.jpg') ;
}
.c4{
   background: url('../images/team/muskan1.jpg') center center ;
}
.c5{
   background: url('../images/team/ishan.jpg') center ;
}
.c6{
   background: url('../images/team/nishi.jpg') ;
}
.c7{
   background: url('../images/team/vansh.jpg') ;
}
.c8{

   background: url('../images/team/dipto1.jpg') ;
}
.c9{
   background: url('../images/team/shreya.jpg') ;
}
.c10{
   background: url('../images/team/kshitiz1.jpg') ;
}
.c11{
   background: url('../images/team/devang.jpg') ;
}
.c12{
   background: url('../images/team/anuj.jpg') ;
}
.c13{
   background: url('../images/team/navyaa.jpg') ;
}
.c14{
   background: url('../images/team/priyank.jpg') ;
}
.c15{
   background: url('../images/team/anmol.jpg');
}

/*adding card properties*/
.card{
  border: transparent;
  overflow: hidden;
  box-shadow: 4px 9px 9px rgba(0, 0, 0, 0.3);
  /*margin-bottom: 60px;*/
}

.card-body{
  height: 450px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body:after{
  content: '';
  background: rgba(0, 154, 255, 0.65);
  top: 100%;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in;
}

.card-body:hover:after{
  top:0;
}

.card-body:hover .text{
  display:block;
}

.card-text{
  font-size: 20px;
  width: 100px;
}

.row{
  margin-top: 1.2em;
}

.row:first-child {
  margin-top: 150px ;
}

.col-lg-4.d-flex{
  /*width: 100%;*/
  height: 100%;
  margin-top: 30px;
}

/*styling for footer*/

footer {
  position: relative;
  background-color: #293243;
  margin-top: 150px;
}

.footer-text{
  text-align: justify;
  color: #fff;
  padding: 10px;
}

.footer-logo{
  margin-bottom: 30px;
  padding-left: 10px;
}

footer>div>h1 {
  margin-bottom: 20px;
}

.footer-list{
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

.footer-list>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer>.container>h1 {
  color: #fff;
}


footer>div>h3 {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}

.footer-img{
  padding-top: 40px;
  width: 200px;
}

.footer-list:nth-child(1){
  width: 70.91px;
}

.footer-hr{
  margin-top: 14px;
  width: 100%;
  border-top: solid 1px #fff;
  overflow: hidden;
}

footer>.container>.container{
  text-align: center;
}

footer>.container>.container>.row>.col-lg-4.col-md-6{
  padding-bottom: 0;
}

footer>.container>.container>.row{
  margin-top: 0;
}

.legend{
  display: flex;
}

.social{
  list-style-type: none;
  display:inline-block;
  padding-left: 0;
}

.social li a{
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 6px;
  border-radius: 100%;
  background-color: #fff;
  color: #293243;
  padding:0;
  text-align: center;
}

.social>li>a:hover, .footer-list>li>a:hover{
  opacity: 0.85;
} 

.social li{
  float: right;
}

.footer-icon {
  margin-top: 7px;
}

.footer-contain>.row{
  margin-left: auto;
  margin-right: auto;
}

.footer-col{
      padding: 0;
      width: 80px;
      margin: 0 auto;
}

/*toastr modifications*/

#toast-container > .toast-info {            
  background-color: rgb(41, 50, 67);
  background-image: none!important;
}

#toast-container>div{
  padding: 15px;
  padding-left: 90px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  -moz-box-shadow: 0 0 2px #999999;
  -webkit-box-shadow: 0 0 2px #999999;
  box-shadow: 0 0 2px #999999;
} 

.toast-top-center { 
    top: 12px; 
    left: 50%; 
    margin-left: -150px;
} 
@media all and (min-width: 321px) and (max-width: 480px) { 
    .toast-top-center { 
        padding-right: 105px; 
        padding-top: 80%;
    } 
}
@media all and (min-width: 481px) and (max-width: 576px){
  .toast-top-center {
    padding-right: 150px;
    padding-top: 80%;
  }
}