@font-face{
	src: url('../fonts/Poppins/Poppins-Regular.ttf');
	font-family: Poppins;
}
html{
	margin-bottom: 0;
}
body{
	font-family: Poppins;
}
.bg-light{
	background-color: transparent!important;
}
.navbar-light .navbar-nav .nav-link{
	color: #000000;
	padding-top: 45px;
	padding-right: 20px;
}
nav>.navbar-brand>img{
	padding-left: 30px;
	margin-top:-5%;
	height: 6rem;
  width: auto;
}
.bgimg{
     background: url('../images/team-cover.jpeg');
    background-size:cover;
    width:100%;
    height:660px;
    background-repeat:no-repeat;
}
.shade {
     width: 100%;
    height: 660px;
    clip-path:polygon(58% 0%,50% 100%,100% 100%,100% 0%);
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
}
.context{
      text-align:left;
      color:white;
      position: relative;
      padding-top:14%;
      float:right;
      font-size: 1.4em;
}
.context>h1{
  font-size: 1.8em;
}
@media(max-width: 768px){
.bgimg {
    position: relative;
    height: 500px;
  }

  .context {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    font-size: 1.4em;
    float: none;
  }

  .shade {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 500px;
  }
   .context>h1{
    font-size: 1.8em;
  }
   .footer-items div:nth-of-type(2){
    transform : translateY(-150px);
    margin-right: 20%;
  }
  .footer-items div:nth-of-type(1){
    transform : translateY(320px);
  }
}

@media only screen and (max-width: 991px){
.navbar-nav li {
    padding: 1.2em;
  }
}
.text{
  text-align: center;
  display: none;
  position: relative;
  z-index: 3;
  color: #fff;
}
.text>h1{
  font-weight: bolder;
  font-size: 25px;
}
.text>h5{
  font-weight: 600;
  font-size: 20px;
}
.text>p{
  margin-bottom: 0;
}
/*.text>a>span>.fa-circle{
  padding:0;
  border-radius : 80%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/
.fb{
  color: #2980B9;
  padding : 0;
}
.text>a>span>.fa-facebook-square{
  color: #fff;
}
.text>a>span>.fa-facebook-square:hover{
  color: #fff;
}
.text>a>span>.fa-github{
  color: #fff;
}
.text>a>span>.fa-github:hover{
  color: #fff;
}
.gt{
  color: #363636;
  padding:0;
}
.text>a>span>.fa-instagram{
  color: #fff;
}
.text>a>span>.fa-instagram:hover{
  color: #fff;
}
.in{
  color:#FF007A;
  padding:0;
}

.card{
  border: transparent;
  /*margin-bottom: 60px;*/
}
.card-body{
  background: url('../images/event-img.jpg') ;
  height: 450px;
  border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body:after{
	content: '';
	background: rgba(0, 154, 255, 0.65);
	top: 100%;
	left: 0;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 0;
	transition: all .2s ease-in;
}
.card-body:hover:after{
  top:0;
  height: 100%;
  border-radius: 10px;
}
.card-body:hover .text{
  display:block;
}
/*.card-title{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
}
*/.card-text{
	font-size: 20px;
	width: 100px;
}

.row{
	margin-top: 1.2em;
	/*margin-bottom: 150px;*/
}

.row:first-child {
	margin-top: 150px	;
}

.col-lg-4{
	/*width: 100%;*/
	height: 100%;
  margin-top: 20px;
}

footer {
  position: relative;
  text-align: center;
  background-color: #293243;
  margin-top: 150px;
  padding-top: 40px;
}

footer>div>h1 {
  margin-bottom: 20px;
}

.footer-list{
  list-style-type: none;
  text-align: left;
  margin-left: 30%;
}
.footer-list>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

footer>.container>h1 {
  color: #fff;
}

footer>div>div>div>h3 {
  margin-top: 30px;
  color: #546586;
}

footer>div>div.row {
  margin-top: 60px;
}

.footer-img{
  padding-top: 30px;
}

.footer-icon {
  padding: 10px;
  color: #FFF;
}
