@font-face{
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-family: Poppins;
}
body{
  font-family: Poppins;
  background-color: #f4f4f4;
}


/* Loader */
#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 9000000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: white;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }

  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }

  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }

  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }

  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px;
  }
}

/*css for navbar*/

#medNav {
  display: none;
  z-index: 100;
}
.bg-light{
  background-color: transparent!important;
}
.bg-light.scrolled-up{
  background-color: #F4F4F4 !important;
}


.navbar-light .navbar-nav .nav-link{
  color: #000000;

  padding-right: 20px;
}
nav>.navbar-brand>img{
  padding-left: 30px;
  height: 6rem;
  width: auto;
}

/* 
navbar bar scroll up effect */
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;

}

/*css for header*/
.bgimg{ 
    background-size:cover;
    width:100%;
    height:89vh;
    background-position: center;
    
    background-repeat:no-repeat;
}
.shade {
     width: 100%;
    height: 89vh;
    clip-path:polygon(55% 0%,47% 100%,100% 100%,100% 0%);
      background: rgba(0, 0, 0, 0.8);
    position: absolute;
}
.context{
      text-align:left;
      color:white;
      position: relative;
      padding-top:14%;
      float:right;
      font-size: 1.4em;
}

.context>h1{
  font-size: 1.8em;
}

/*css for body*/

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-overlay::before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 40%;
}

.body-container{
  margin-top: 200px;
  height: auto;
}

.round-button {
  position: absolute;
  margin-left: 80px;
  margin-top: -30px;
  box-sizing: border-box;
  display:block;
  width:80px;
  height:80px;
  padding-top: 25px;
  padding-left: 10px;
  line-height: 20px;
  border-radius: 50%;
  color:#34495E;
  text-align:center;
  text-decoration:none;
  background-color: #2980B9;
  font-size:15px;
  transition: all 0.3s ease; 
}
.grid-img {
  width: 100%;
}
.inside {
            height: 300px;
            position: relative;
            overflow: hidden;
            padding-bottom: calc(50% - 10px);
 }
 .img-box {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: 300px;
            background-size: cover;
            background-position: center; 
            box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          }

.content-box {
            position: absolute;
            left: 45%;
            /*top: -1px;*/
            background: url('../images/backs/bg-feature-slant.svg') no-repeat left bottom;
            background-size: auto 100%;
            padding: 80px 15% 15% 15%;
            /*display: flex;*/
            align-items: center; 
            height: 300px;
          }
.text{
  color: #fff;
} 
.web{
  padding: 20px;
}         
.round-button:hover {
  /*background-color: #34495E;*/
  color: #34495E;
  transform:translateY(-10px);
}
div.modal.fade.show{
  padding: 0!important; 
}
.modal-content{
/*  width: 700px;*/
  background:transparent!important;
  border: none;
/*  padding: 0!important;*/
}
/*.modal-body{
  width: 700px;
  padding: 0!important;
}*/
iframe{
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 700px;
      height: 500px;
}
.modal-header{
  border:none;
}


@media(max-width: 768px){
.bgimg {
    position: relative;
    height: 87vh;
  }

  .context {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    font-size: 1.4em;
    float: none;
  }
   .context>h1{
    font-size: 1.8em;
  }

  

  iframe{
    width: 500px!important;
    height: 300px!important;
    /*margin-left: -20px;*/
  }

  .container.footer-contain{
    padding:0;
    margin-top:0;
  }
  .footer-list{
    display: block;
    padding:0;
    padding-bottom: 0;
  }
}

@media(max-width: 350px){
  
  .round-button{
    margin-left: 100px!important;
   }
  .text>h2{
    font-size: 15px;
  }
  .text>p{
    font-size: 10px;
  }
}

@media only screen and (max-width: 991px){
  body{
    padding-top:0px !important;
  }
  .navbar-nav {
    justify-content: center;
    align-items:flex-end;
  } 

  .navbar-collapse {
    z-index: 100;
    background-color: #F4F4F4;
   
     }
     .navbar-light .navbar-nav .nav-link.indexnav{
    color: #000;
  
   }
   .navbar-light .navbar-nav .nav-link {
    color: #000;
    padding-top: 10px;
   
   }
   .bgimg {
    position: relative;
    height: 100vh;
  }

  .bgimg h1{
    margin-top: 10vh;
  }
   
  .shade {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 100vh;
  }

  .context{
    text-align: center;
  }


  .hero {
    min-height: 100vh;
    overflow-y: visible; }

    .hero::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hero {
  -ms-overflow-style: none;
}

#webNav {
  display: none;
}
#medNav {
  display: block !important;
}
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height:4.5em;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* margin-top: 1em; */
}
.nav .medLogo {
  padding-left: 1em;
}
.nav .medLogo img {
  height: 3.5em;
  width: auto;
}
.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
}
.nav__toggle:hover, .hero .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  position: relative;
  z-index: 5;
  padding: 0;
  visibility: hidden;
}
.nav__item {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}
.nav__item:nth-child(1) {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
.nav__item:nth-child(2) {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}
.nav__item:nth-child(3) {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}
.nav__item:nth-child(4) {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
}
.nav__item:nth-child(5) {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}
.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
  outline: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.menuicon__bar {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}
.menuicon__circle {
  -webkit-transition: stroke-dashoffset .3s linear .1s;
  transition: stroke-dashoffset .3s linear .1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}
.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}
.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #2980B9;
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06), -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}
.nav:target > .splash::after,
.nav--open > .splash::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}
.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
}


@media(max-width: 576px){
  .content-box{
    background: none;
    padding-top: 200px;
    left: 20px;
    padding-left: 0;
  }
  .img-box{
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7);
  }

  .round-button{
    width: 60px;
    height: 60px;
    margin-top: -10px;
    margin-left: 170px;
    padding-top: 16px;
    padding-left: 5px;
    z-index: 5;
  }

  .round-button>i{
    font-size: 30px;
  }

  iframe{
    width: 350px!important;
    height: 200px!important;
  }

  .text>h2{
    font-size: 20px;
  }
  .text>p{
    font-size: 15px;
  }
}

@media(max-width: 430px){
  .round-button{
    margin-left: 150px;
  }
}

/*styling for footer*/

footer {
  position: relative;
  background-color: #293243;
  margin-top: 150px;
}

.footer-text{
  text-align: justify;
  color: #fff;
  padding: 10px;
}

.footer-logo{
  margin-bottom: 30px;
  padding-left: 10px;
}

footer>div>h1 {
  margin-bottom: 20px;
}

.footer-list{
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

.footer-list>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer>.container>h1 {
  color: #fff;
}


footer>div>h3 {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}

.footer-img{
  padding-top: 40px;
  width: 200px;
}

.footer-list:nth-child(1){
  width: 70.91px;
}

.footer-hr{
  margin-top: 14px;
  width: 100%;
  border-top: solid 1px #fff;
  overflow: hidden;
}

footer>.container>.container{
  text-align: center;
}

footer>.container>.container>.row>.col-lg-4.col-md-6{
  padding-bottom: 0;
}

footer>.container>.container>.row{
  margin-top: 0;
}

.legend{
  display: flex;
}

.social{
  list-style-type: none;
  display:inline-block;
  padding-left: 0;
}

.social li a{
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 6px;
  border-radius: 100%;
  background-color: #fff;
  color: #293243;
  padding:0;
  text-align: center;
}

.social>li>a:hover, .footer-list>li>a:hover{
  opacity: 0.85;
} 

.social li{
  float: right;
}

.footer-icon {
  margin-top: 7px;
}

.footer-contain>.row{
  margin-left: auto;
  margin-right: auto;
}

.footer-col{
      padding: 0;
      width: auto;
      margin: 0 auto;
}

/*toastr modifications*/

#toast-container > .toast-info {            
  background-color: rgb(41, 50, 67);
  background-image: none!important;
}

#toast-container>div{
  padding: 15px;
  padding-left: 90px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  -moz-box-shadow: 0 0 2px #999999;
  -webkit-box-shadow: 0 0 2px #999999;
  box-shadow: 0 0 2px #999999;
} 

.toast-top-center { 
    top: 12px; 
    left: 50%; 
    margin-left: -150px;
} 
@media all and (min-width: 321px) and (max-width: 480px) { 
    .toast-top-center { 
        padding-right: 105px; 
        padding-top: 80%;
    } 
}
@media all and (min-width: 481px) and (max-width: 576px){
  .toast-top-center {
    padding-right: 150px;
    padding-top: 80%;
  }
}