@font-face{
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-family: Poppins;
}
body{
  font-family: Poppins;
}

.bg-light{
  background-color: transparent!important;
}

.navbar-light .navbar-nav .nav-link{
  color: #000000;
  padding-top: 45px;
  padding-right: 20px;
}
nav>.navbar-brand>img{
  padding-left: 30px;
  margin-top:-5%;
  height: 6rem;
  width: auto;
}
.bgimg{
     background: url('../images/webinar-cover.jpeg');
    background-size:cover;
    width:100%;
    height:660px;
    background-repeat:no-repeat;
}
.shade {
     width: 100%;
    height: 660px;
    clip-path:polygon(58% 0%,50% 100%,100% 100%,100% 0%);
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
}
.context{
      text-align:left;
      color:white;
      position: relative;
      padding-top:14%;
      float:right;
      font-size: 1.4em;
}

.context>h1{
  font-size: 1.8em;
}
.row{
  /*margin-bottom: 20px;*/
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/**/
.img-overlay::before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 40%;
}

.body-container{
  margin-top: 200px;
  height: auto;
}
.round-button {
  position: absolute;
  margin-left: 80px;
  margin-top: -30px;
  box-sizing: border-box;
  display:block;
  width:80px;
  height:80px;
  padding-top: 25px;
  padding-left: 10px;
  line-height: 20px;
  border-radius: 50%;
  color:#34495E;
  text-align:center;
  text-decoration:none;
  background-color: #2980B9;
  font-size:15px;
  /*font-weight:bold;*/
  transition: all 0.3s ease; 
}
.grid-img {
  width: 100%;
}
.inside {
            height: 300px;
            position: relative;
            overflow: hidden;
            padding-bottom: calc(50% - 10px);
 }
 .img-box {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: 300px;
            background-size: cover;
            background-position: left; 
            background-image: url('../images/backs/cpp_Banner.jpg');
            box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          }

.content-box {
            position: absolute;
            left: 40%;
            /*top: -1px;*/
            background: url('../images/backs/bg-feature-slant.svg') no-repeat left bottom;
            background-size: auto 100%;
            padding: 80px 15% 15% 15%;
            /*display: flex;*/
            align-items: center; 
            height: 300px;
          }
.text{
  color: #fff;
} 
.web{
  padding: 20px;
}         

.round-button:hover {
  /*background-color: #34495E;*/
  color: #34495E;
  transform:translateY(-10px);
}
.modal-content{
  background:transparent!important;
  border: none;
}
.modal-body{
  margin-left: -70px;
  width: auto;
}
.player{
  padding-right: 30px;
}
.modal-header{
  border:none;
}
@media(max-width: 768px){
.bgimg {
    position: relative;
    height: 500px;
  }

  .context {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    font-size: 1.4em;
    float: none;
  }
   .context>h1{
    font-size: 1.8em;
  }

  .shade {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 500px;
  }
   .footer-list:nth-child(1){
    margin-top: 0;
  }
  .container.footer-contain{
    padding-top:0;
    margin-top:0;
  }
  .social{
    float: center;
    /*padding-left: 125px;*/
    display: inline-flex;
  }

  .footer-list{
    display: block;
    padding:0;
    padding-bottom: 0;
  }

  .col-lg-4.footer-col{
    padding-right: 0;
    margin-top: 0;
    margin-left: -215px;
    padding-bottom: 0;
    margin-bottom: 0;
    /*display: inline-block;*/
  }

  footer>.container>h3{
    text-align: left;
  }
  .row.footer-row{
    margin-top: 0;
  }
  footer{
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media(max-width : 576px){
  #player{
    width: 550px;
    height: 300px;
  }
  .col-lg-4.footer-col{
    padding-right: 0;
    margin-top: 0;
    margin-left: -180px;
    padding-bottom: 0;
    margin-bottom: 0;
    /*display: inline-block;*/
  }
}

@media(max-width: 430px){
  .col-lg-4.footer-col{
    padding-right: 0;
    margin-top: 0;
    margin-left: -130px;
    padding-bottom: 0;
    margin-bottom: 0;
    /*display: inline-block;*/
  }
}

@media only screen and (max-width: 991px){
.navbar-nav li {
    padding: 1.2em;
  }
}
footer {
  position: relative;
  text-align: center;
  background-color: #293243;
  margin-top: 150px;
}
.footer-text{
  text-align: justify;
  color: #fff;
  padding: 10px;
}
.footer-logo{
  margin-left: -220px;
  margin-bottom: 30px;
}

footer>div>h1 {
  margin-bottom: 20px;
}

.footer-list{
  list-style-type: none;
  text-align: left;
  display: inline-block;
}
.footer-list>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer>.container>h1 {
  color: #fff;
}

.row.footer-row{
  margin-top: 0;
}

footer>div>h3 {
  margin-top: 30px;
  /*color: #546586;*/
  color: #fff;
  font-size: 20px;
}

.footer-img{
  padding-top: 40px;
  width: 100px;
}

.footer-hr{
  margin-top: 14px;
  width: 100%;
  height: 1px;
  border-top: solid 1px #fff!important;
  overflow: hidden;

}

footer>.container>.container>.row>.col-lg-4.col-md-6{
  padding-bottom: 0;
}

footer>.container>.container>.row{
  margin-top: 0;
}

.legend{
  display: flex;
}

.social{
  list-style-type: none;
  display:inline-block;
}

.social li a{
  display: inline-block;
  height: 30px;
  width: 30px;
  /*margin-left: 6px;*/
  margin-right: 6px;
  border-radius: 100%;
  background-color: #fff;
  color: #293243;
  padding:0;
}

.social li{
  float: right;
}

.footer-icon {
  /*color: #FFF;*/
  /*margin-right: px;*/
  margin-top: 7px;
}

.footer-row{
  margin-left: auto;
  margin-right: auto;
}

 .footer-col{
      padding: 0;
    }
